# ==========================================
# CONFIGURATION CLIENT FRONTEND (Vite PWA)
# ==========================================
# URL de l'API Backend hébergée sur Render ou en local
# Exemple local : http://localhost:5000
# Exemple Render : https://votre-backend-render.onrender.com
VITE_API_URL=http://localhost:5000
